.bg2{
    background-color: #2222dd;
    height: 5rem;
    margin-top: -1rem;
}

h1{
    padding-top:1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

img{
    padding-top: 1rem;
    padding-right: 1rem; 
}

.center{
    text-align: center;
    width: 110px;
    height: 110px;
    overflow: auto;
}
.color1 {
    background-color: aqua;
    height: 50vh;
}
.color2 {
    background-color: red;
    height: 50vh;
}
.color-black{
    color: #000000;
}