h1 {
    padding-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px blue;
    color: white;
    text-shadow: 3px 3px 0 blue, -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 1px 0 blue;
}

h6{
    padding-top: 10%;
    color: white;
    text-align: right;
}

img {
    padding-top: 1rem;
}

img:hover {
    background-color: #202020;
    cursor: pointer;
}

.center {
    text-align: center;
    font-size: 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

b {
    color: black;
}

.logos{
    margin-top: 1rem;
}